{% extends 'templates/base.html.twig' %}

{% block content %}
  <div class="list-group">
    <div class="list-group-item font-weight-bold">
      <div class="row">
        <span class="px-1 col-8">Tävling</span>
        <span class="px-1 col-2 text-center">Styckpris</span>
        <span class="px-1 col-2 text-right">Tillagd</span>
      </div>
    </div>
    {% for listing in listings %}
      <a class="list-group-item" href="/listings/{{ listing.id }}">
        <div class="row">
          <span class="px-1 col-8">{{ listing.subcategory_name }}</span>
          <span class="px-1 col-2 text-center">{{ listing.unit_price }}</span>
          <span class="px-1 col-2 text-right">{{ listing.created_at }}</span>
        </div>
      </a>
    {% endfor %}
  </div>

  {% if pagination.needed %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center py-4">
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page - 1 }}">Previous</a>
        </li>
        {% if pagination.window_start > 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_start - 1 }}">...</a>
          </li>
        {% endif %}
        {% for i in pagination.window_start..pagination.window_stop %}
        <li class="page-item {% if i == pagination.page %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if pagination.window_stop < pagination.last_page %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_stop + 1 }}">...</a>
          </li>
        {% endif %}
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page + 1 }}">Next</a>
        </li>
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.last_page }}">Last</a>
        </li>
      </ul>
    </nav>
  {% endif %}



{% endblock %}
