{% extends 'templates/base.html.twig' %}

{% block content %}

  <form>
    <select id="category_dropdown" name="category_dropdown">
      <option value="0">All idrotter</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.category_name }}</option>
      {% endfor %}
    </select>

    <select id="subcategory_dropdown" name="subcategory_dropdown">
      <option value="0">All tävlingar</option>
      {% for subcategory in subcategories %}
        <option value="{{ subcategory.id }}">{{ subcategory.subcategory_name }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Filtrera">
  </form>


  <div class="list-group">
    <div class="list-group-item font-weight-bold">
      <div class="row">
        <span class="px-1 col-8">Tävling</span>
        <a class="deco-none px-1 col-2 text-center" href="?sorting_column=unit_price&order={{ sorting.toggle_order }}">Styckpris <i class="fas fa-sort{{ sorting.price_class }}"></i></a>
        <a class="deco-none px-1 col-2 text-right" href="?sorting_column=created_at&order={{ sorting.toggle_order }}">Tillagd <i class="fas fa-sort{{ sorting.date_class }}"></i></a>
      </div>
    </div>
      {% for listing in listings %}
      <a class="list-group-item" href="/listings/{{ listing.id }}">
        <div class="row">
          <span class="px-1 col-8">{{ listing.subcategory_name }}</span>
          <span class="px-1 col-2 text-center">{{ listing.unit_price }}</span>
          <span class="px-1 col-2 text-right">{{ listing.created_at }}</span>
        </div>
      </a>
      {% endfor %}
  </div>

  {% if pagination.needed %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center py-4">
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page - 1 }}">Previous</a>
        </li>
        {% if pagination.window_start > 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_start - 1 }}">...</a>
          </li>
        {% endif %}
        {% for i in pagination.window_start..pagination.window_stop %}
        <li class="page-item {% if i == pagination.page %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if pagination.window_stop < pagination.last_page %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_stop + 1 }}">...</a>
          </li>
        {% endif %}
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page + 1 }}">Next</a>
        </li>
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.last_page }}">Last</a>
        </li>
      </ul>
    </nav>
  {% endif %}



{% endblock %}
