{% extends 'templates/base.html.twig' %}

{% block content %}

  <form method="get">
    <div class="form-row">
      <div class="form-group col-5">
        <select class="form-control" id="category_filter" name="category_filter">
          <option value="0">{{ language.all_categories }}</option>
          {% for category in categories %}
          <option value="{{ category.id }}" class="{{ category.category_name }}" {% if category.id == filter.category %}selected{% endif %}>{{ category.category_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-5">
        <select class="form-control" id="subcategory_filter" name="subcategory_filter">
          <option value="0">{{ language.all_subcategories }}</option>
          {% for subcategory in subcategories %}
            <option value="{{ subcategory.id }}" class="{{ subcategory.category_name }}" {% if subcategory.id == filter.subcategory %}selected{% endif %}>{{ subcategory.subcategory_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-2">
        <button type="submit" class="btn btn-primary">{{ language.filter }}</button>
      </div>
    </div>
  </form>


  <div class="list-group pb-4">
    <div class="list-group-item font-weight-bold">
      <div class="row">
        <span class="px-1 col-6">{{ language.subcategory }}</span>
        <a class="deco-none px-1 col-3 text-center" href="?sorting_column=unit_price&order={{ sorting.toggle_order }}">{{ language.unit_price }} <i class="fas fa-sort{{ sorting.price_class }}"></i></a>
        <a class="deco-none px-1 col-3 text-right" href="?sorting_column=created_at&order={{ sorting.toggle_order }}">{{ language.created }} <i class="fas fa-sort{{ sorting.date_class }}"></i></a>
      </div>
    </div>
    {% for listing in listings %}
      <a class="list-group-item" href="/listings/{{ listing.id }}">
        <div class="row">
          <span class="px-1 col-6">{{ listing.subcategory_name }}</span>
          <span class="px-1 col-3 text-center">{{ listing.unit_price }}</span>
          <span class="px-1 col-3 text-right">{{ listing.created_at }}</span>
        </div>
      </a>
    {% endfor %}
    {% if not listings %}
    <div class="row">
      <span class="py-3 col-12">{{ language.no_listings }}</span>
    </div>
    {% endif %}
  </div>

  {% if pagination.needed %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center py-4">
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page=1">{{ language.first }}</a>
        </li>
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page - 1 }}">{{ language.previous }}</a>
        </li>
        {% if pagination.window_start > 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_start - 1 }}">...</a>
          </li>
        {% endif %}
        {% for i in pagination.window_start..pagination.window_stop %}
        <li class="page-item {% if i == pagination.page %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if pagination.window_stop < pagination.last_page %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ pagination.window_stop + 1 }}">...</a>
          </li>
        {% endif %}
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.page + 1 }}">{{ language.next }}</a>
        </li>
        <li class="page-item {% if pagination.page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?page={{ pagination.last_page }}">{{ language.last }}</a>
        </li>
      </ul>
    </nav>
  {% endif %}

  <!-- query to filter second dropdown -->
  <!-- https://stackoverflow.com/a/20478291/5318606-->
  <script >
      $(document).ready(function () {
          var subCatOptions = $('#subcategory_filter option');

          // Subcategory filtering depending on category
          $('#category_filter').change(function () {
              filterSubCategoryOptions(subCatOptions);
              $('#subcategory_filter option[value="0"]').prop('selected', true);
          });
      });

      function filterSubCategoryOptions(options){
          var categoryClass = $('#category_filter option:selected').prop('class');

          // Always reset subcategory options
          $('#subcategory_filter option').remove();
          $('#subcategory_filter').append(options);

          if (categoryClass != "") {
              $('#subcategory_filter :not(.' + categoryClass + ',option[value="0"])').remove();
          }
      }
  </script>


{% endblock %}
