{% extends 'templates/base.html.twig' %}

{% block content %}
  {% if type == "buying" %}
    <h1>{{ language.buying }}</h1>
  {% elseif type == "selling" %}
    <h1>{{ language.selling }}</h1>
  {% else %}
    <h1>{{ language.listings }}</h1>
  {% endif %}

  <form method="get">
    <div class="form-row">
      <div class="form-group col-5">
        <select class="form-control" id="category_dropdown" name="category_filter">
          <option value="0">{{ language.all_categories }}</option>
          {% for category in categories %}
          <option value="{{ category.id }}" class="{{ category.category_name|replace({" ": "_"}) }}" {% if category.id == filter.category %}selected{% endif %}>{{ category.category_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-5">
        <select class="form-control" id="subcategory_dropdown" name="subcategory_filter">
          <option value="0">{{ language.all_subcategories }}</option>
          {% for subcategory in subcategories %}
            <option value="{{ subcategory.id }}" class="{{ subcategory.category_name|replace({" ": "_"}) }}" {% if subcategory.id == filter.subcategory %}selected{% endif %}>{{ subcategory.subcategory_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-2">
        <button type="submit" class="btn btn-primary">{{ language.filter }}</button>
      </div>
    </div>
  </form>


  <div class="list-group pb-4">
    <div class="list-group-item font-weight-bold">
      <div class="row">
        <span class="px-1 col-6">{{ language.subcategory }}</span>
        <a class="deco-none px-1 col-3 text-center" href="?sorting_column=unit_price&sorting_order={{ sorting.toggle_order }}">{{ language.unit_price }} <i class="fas fa-sort{{ sorting.price_class }}"></i></a>
        <a class="deco-none px-1 col-3 text-right" href="?sorting_column=created_at&sorting_order={{ sorting.toggle_order }}">{{ language.created }} <i class="fas fa-sort{{ sorting.date_class }}"></i></a>
      </div>
    </div>
    {% for listing in listings %}
      <a class="list-group-item text-decoration-none" href="/listings/{{ listing.id }}">
        <div class="row">
          <span class="px-1 col-6">
            <div class="mt-n2 small text-muted">{{ listing.category_name }} > {{ listing.subcategory_name }}</div>
            <div class="pl-2 text-break">{{ listing.title }}</div>
          </span>
          <span class="px-1 col-3 text-center align-self-center">{{ listing.unit_price }}</span>
          <span class="px-1 col-3 text-right align-self-center">{{ listing.created_at }}</span>
        </div>
      </a>
    {% endfor %}
    {% if not listings %}
    <div class="row">
      <span class="py-3 col-12">{{ language.no_listings }}</span>
    </div>
    {% endif %}
  </div>

  {% if pagination.is_needed %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center py-4">
        <li class="page-item {% if pagination.current_page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?paging=1">{{ language.first }}</a>
        </li>
        <li class="page-item {% if pagination.current_page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?paging={{ pagination.current_page - 1 }}">{{ language.previous }}</a>
        </li>
        {% if pagination.range_start > 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="?paging={{ pagination.range_start - 1 }}">...</a>
          </li>
        {% endif %}
        {% for i in pagination.range_start..pagination.range_stop %}
        <li class="page-item {% if i == pagination.current_page %}active{% endif %}">
          <a class="page-link" href="?paging={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if pagination.range_stop < pagination.last_page %}
          <li class="page-item disabled">
            <a class="page-link" href="?paging={{ pagination.range_stop + 1 }}">...</a>
          </li>
        {% endif %}
        <li class="page-item {% if pagination.current_page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?paging={{ pagination.current_page + 1 }}">{{ language.next }}</a>
        </li>
        <li class="page-item {% if pagination.current_page == pagination.last_page %}disabled{% endif %}">
          <a class="page-link" href="?paging={{ pagination.last_page }}">{{ language.last }}</a>
        </li>
      </ul>
    </nav>
  {% endif %}

  <!-- query to filter second dropdown -->
  <!-- https://stackoverflow.com/a/20478291/5318606-->
  <script >
      $(document).ready(function () {
          let subCatOptions = $('#subcategory_dropdown option');

          // Filter subcategories on load and then reselect the selected option
          let selectedSubcategoryValue = $('#subcategory_dropdown option:selected').prop('value');
          let selectedCategory = $('#category_dropdown option:selected');
          filterSubCategoryOptions(subCatOptions, selectedCategory);
          $('#subcategory_dropdown option[value=' + selectedSubcategoryValue + ']').prop('selected', true);

          // Subcategory filtering depending on category
          $('#category_dropdown').change(function () {
              let selectedSubcategory = $('#subcategory_dropdown option:selected');
              let selectedCategory = $('#category_dropdown option:selected');
              filterSubCategoryOptions(subCatOptions, selectedCategory);
              if (selectedSubcategory.prop('class') === selectedCategory.prop('class') || selectedCategory.prop('value') === "0") {
                  $('#subcategory_dropdown option[value=' + selectedSubcategory.prop('value') + ']').prop('selected', true);
              } else {
                  $('#subcategory_dropdown option[value=0]').prop('selected', true);
              }
          });
      });

      function filterSubCategoryOptions(options, selectedCategory){
          // Always reset subcategory options
          $('#subcategory_dropdown').append(options);

          if (selectedCategory.prop('value') !== "0") {
              // Remove all options which are not the default option or belonging to categoryClass
              $('#subcategory_dropdown :not(.' + selectedCategory.prop('class') + ',option[value="0"])').remove();
          }
      }
  </script>


{% endblock %}
