{% extends 'templates/base.html.twig' %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="new_listing_email">{{ language.email_address }}</label>
      <input type="email" class="form-control" id="new_listing_email" placeholder="{{ language.enter_email }}Enter E-mail" name="email" required>
    </div>
    <div class="form-group">
      <label for="new_listing_category">{{ language.category }}</label>
      <select class="form-control" id="new_listing_category" name="category_id" required>
        <option value="">{{ language.choose_category }}</option>
        {% for category in categories %}
          <option value="{{ category.id }}" class="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="new_listing_subcategory">{{ language.subcategory }}</label>
      <select class="form-control" id="new_listing_sub_category" name="subcategory_id" required>
        <option value="">{{ language.choose_subcategory }}</option>
        {% for subcategory in subcategories %}
          <option value="{{ subcategory.id }}" class="{{ subcategory.category_name }}">{{ subcategory.subcategory_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="new_listing_price">{{ language.unit_price }}</label>
      <input type="number" class="form-control" id="new_listing_price" placeholder="{{ language.enter_unit_price }}" name="unit_price" required>
    </div>
    <div class="form-group">
      <label for="new_listing_amount">{{ language.quantity }}</label>
      <input type="number" class="form-control" id="new_listing_amount" placeholder="{{ language.enter_quantity }}" name="quantity" value=1 min="1" required>
    </div>
    <div class="form-group">
      <label for="new_listing_description">{{ language.description }}</label>
      <textarea class="form-control" id="new_listing_description" name="description" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{ language.create_listing }}</button>
  </form>

  <!-- query to filter second dropdown -->
  <!-- https://stackoverflow.com/a/20478291/5318606-->
  <script >
  $(document).ready(function () {
    var subCatOptions = $('#new_listing_sub_category option');

    // Subcategory filtering depending on category
    $('#new_listing_category').change(function () {
      filterSubCategoryOptions(subCatOptions);
      $('#new_listing_sub_category option[value=""]').prop('selected', true);
    });

    // Subcategory filtering depending on subcategory
    $('#new_listing_sub_category').change(function () {
      var selectedSubCategory = $('#new_listing_sub_category option:selected');
      var subCatClass = selectedSubCategory.prop('class');

      // Make sure the category corresponds to chosen subcategory
      if ($('#new_listing_category option:selected').prop('class') != subCatClass) {
        $('#new_listing_category .' + subCatClass).prop('selected', true);
      }
      filterSubCategoryOptions(subCatOptions);
      // Reselect the selected option because it was lost in the filtering
      selectedSubCategory.prop('selected', true);
    });
  });

  function filterSubCategoryOptions(options){
    var categoryClass = $('#new_listing_category option:selected').prop('class');

    // Always reset subcategory options
    $('#new_listing_sub_category option').remove();
    $('#new_listing_sub_category').append(options);

    if (categoryClass != "") {
      $('#new_listing_sub_category :not(.' + categoryClass + ',option[value=""])').remove();
    }
  }
  </script>

{% endblock %}

