{% extends 'templates/base.html.twig' %}

{% block content %}
  {% if insertedId is defined %}
    New listing inserted. It can be found <a href='/listings/{{ insertedId }}'>here</a>
  {% endif %}

  <form method="post">
    <div class="form-group">
      <label for="new_listing_email">Email address</label>
      <input type="email" class="form-control" id="new_listing_email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="new_listing_category">Category</label>
      <select class="form-control" id="new_listing_category" name="category_id" required>
        <option value="">Choose category</option>
        {% for category in categories %}
          <option value="{{ category.id }}" class="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="new_listing_subcategory">Subcategory</label>
      <select class="form-control" id="new_listing_sub_category" name="subcategory_id" required>
        <option value="">Choose subcategory</option>
        {% for subcategory in subcategories %}
          <option value="{{ subcategory.id }}" class="{{ subcategory.category_name }}">{{ subcategory.subcategory_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="new_listing_price">Price</label>
      <input type="number" class="form-control" id="new_listing_price" placeholder="Enter price" name="price">
    </div>
    <div class="form-group">
      <label for="new_listing_amount">Quantity</label>
      <input type="number" class="form-control" id="new_listing_amount" placeholder="Enter number of items" name="quantity" value=1 min="1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <!-- query to filter second dropdown -->
  <!-- https://stackoverflow.com/a/20478291/5318606-->
  <script >
  $(document).ready(function () {
    var subCatOption = $('#new_listing_sub_category option');
    var defaultOptionText = "Choose subcategory";

    $('#new_listing_category').change(function () {
        var categoryName = $('#new_listing_category option:selected').prop('class');
        filterCategoryOptions(categoryName, subCatOption, "#new_listing_sub_category", defaultOptionText)
    });

    var defaultOptionText = "Choose category";
    var mainCatOption = $('#new_listing_category option')
      $('#new_listing_sub_category').change(function () {
        var categoryName = $('#new_listing_sub_category option:selected').prop('class');
        filterCategoryOptions(categoryName, mainCatOption, "#new_listing_category", defaultOptionText)
    });

  });

  function filterCategoryOptions(categoryName, catOption, selectElement, deafultOption){
    if (categoryName != "") {
      $(selectElement + ' option').remove()

      var filteredSubCat = catOption.filter('.' + categoryName);
      var index = 0;
      // Re-add "Choose" option
      var e = new Option(deafultOption, "")
      $(e).appendTo(selectElement);

      $.each(filteredSubCat, function (i, j) {
        $(j).appendTo(selectElement);
      });
    }
    else {
      // Reset both options
      $(selectElement + ' option').remove(0)
      $.each(catOption, function (i, j) {
        $(j).appendTo(selectElement);
      });

      $('#new_listing_category option:contains("' + "Choose category" + '")').prop('selected', true);
      $('#new_listing_sub_category option:contains("' + "Choose subcategory" + '")').prop('selected', true);
    }
  }
  </script>

{% endblock %}

