{% extends 'templates/base.html.twig' %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ listing.subcategory_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ listing.category_name }}</h6>
        <p class="card-text">Här ska vi ha ett e-post-formulär till {{ listing.email }}</p>
        <div>Pris: {{ listing.price }}</div>
        <div>Antal: {{ listing.quantity }}</div>
        <div>Skapad: {{ listing.created_at }}</div>
      </div>
      <form method="post">
        <div class="form-group">
          <label for="removal_code">Removal code</label>
          <input type="input" class="form-control" id="removal_code" name="removal_code" required>
        </div>
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </div>
{% endblock %}
