<div class="alert alert-success" role="alert">
  <strong>{{ language.success }}</strong> {{ language.new_listing_inserted_message }} <a href="{{ path_for('single_listing', { 'id': listingId, 'lang': language.code }) }}">{{ language.here }}. </a>{{ language.removal_code }}: {{ removalCode }}
</div>